body {
  background: #0f172a;
  color: white;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game-box {
  text-align: center;
  background: #1e293b;
  padding: 25px;
  border-radius: 12px;
  width: 300px;
}

button {
  margin-top: 15px;
  padding: 20px;
  width: 100%;
  font-size: 22px;
  border: none;
  border-radius: 10px;
  background: #22c55e;
  color: black;
}

button:active {
  background: #16a34a;
}
